<div class="col-3 py-3 sidebar">
    <div class="bg-white text-center px-2 rounded-2" style="height:90vh">
        <div class="mx-1 rounded-2 text-center" id="information_client">
            <p>Informations client sidebar</p>
            <div class="row ">
                <div class="col-6 text-center">
                    <span><strong>Nom</strong></span>
                    <span>Dupont</span>
                </div>
                <div class="col-6 text-center">
                    <span><strong>Prénom</strong></span>
                    <span>Marc</span>
                </div>
            </div>
        </div>

    </div>
</div>