<div class="nav_mobile text-center col-5 p-2 footer start-50 translate-middle-x position-fixed bottom-0 start-0 mb-4 rounded-5 border-1 border border-primary bg-white ">
    <a href="/"><i class="fa-solid fa-house fa-lg mx-2"></i></a>
    <i class="fa-solid fa-calendar-days fa-lg mx-2"></i>
    <i class="fa-solid fa-user-plus fa-lg mx-2"></i>
</div>
