<div class="formNewClient py-4 col-12 px-3 rounded-2">
    <form action="" method="GET">
        <div class="row">
            <div class="col-6 mb-2">
                <label class="text-white" for="nom">Nom</label>
                <input name="nom" type="text" class="form-control" id="nom" placeholder="Nom du client">
            </div>
            <div class="col-6 mb-2">
                <label class="text-white" for="prenom">Prénom</label>
                <input name="prenom"  type="text" class="form-control" id="prenom" placeholder="Prénom du client">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <label class="text-white" for="telephone">Téléphone</label>
                <input name="telephone" type="tel" class="form-control" id="telelphone" placeholder="00-00-00-00-00">
            </div>
            <div class="col-6 mb-2">
                <label class="text-white" for="mail">Email</label>
                <input name="mail" type="mail" class="form-control" id="mail" placeholder="Adresse mail">
            </div>
        </div>
        <div class="row mb-2">
            <div>
                <label class="text-white" for="adresse">Adresse postale</label>
                <input name="adresse" type="text" class="form-control" id="adresse" placeholder="adresse postal">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <label class="text-white" for="ville">Ville</label>
                <input name="ville" type="text" class="form-control" id="ville" placeholder="Ville du client">
            </div>
            <div class="col-6 mb-2">
                <label class="text-white" for="codePostal">Code postal</label>
                <input name="codePostal" type="zip" class="form-control" id="codePostal" placeholder="Code postal">
            </div>
        </div>
        <button type="submit" class="btn btn-success ">Créer</button>
    </form>
    
</div>