<nav class="nav-mobile navbar fixed-bottom d-md-none mb-5 rounded-5 bg-white col-6 mx-auto py-3">
    <div class="container-fluid ">
      <div class="row w-100 d-flex justify-content-around text-center mx-auto">
        <div class="col-3">
          <a href="{{ path('main') }}" class="nav-link">
            <i class="fa-solid fa-house  fa-lg"></i>
          </a>
        </div>
        <div class="col-3">
          <a data-bs-toggle="modal" data-bs-target="#modalAjoutClient">
            <i class="fa-solid fa-user-plus fa-lg"></i>
          </a>
        </div>
        <div class="col-3">
            <a data-bs-toggle="modal" data-bs-target="#modalCalendar">
            <i class="fa-solid fa-calendar fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>