 <div class="col-lg-3 py-3 sidebar">
        <div class="bg-white text-center px-2 rounded-2 " style="height:90vh">
            <span class="text-center">Nouveau client</span>
            <div>
                ici le formulaire de création de client
            </div>
        </div>
</div>