{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %} 
    <main class="container-fluid">
        <div class="row">
            <!-- Début de la colonne de gauche -->
            {% include "partials/sidebar/sidebar.html.twig" %} 
            <!-- Fin de la colonne de gauche -->
            
            <!-- Début de la colonne de droite -->
            <div class="col-lg-10 py-3 offset-lg-2">
                <h1 class="text-center">{{ titrePage }}</h1>
                    nouveau tableau de bord
            </div>
            <!-- Fin de la colonne de droite -->
        </div>
    </main>    
{% endblock %}

