{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %} 
    <main class="container-fluid">
        <div class="row">
            <!-- Début de la colonne de gauche -->
            {% include "partials/sidebar/sidebar.html.twig" %} 
            <!-- Fin de la colonne de gauche -->
            
            <!-- Début de la colonne de droite -->
            <div class="col-lg-10 py-3 offset-lg-2 offset-md-1 pt-5">
                <h1 class="text-center fs-3">{{ titrePage }}</h1>
                <div class="row justify-content-around mx-2 rounded-3 mt-4">
                    <div class="text-center p-3 col-lg-8 col-10 m-1 border border-white rounded bg-secondary bg-opacity-25" style="min-height: auto">
                        <iframe src="https://calendar.google.com/calendar/embed?src=ivann-elore%40hotmail.fr&ctz=Europe%2FParis" style="border: 0 ; width: 100%; height: 80vh;" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="text-center col-lg-3 col-10 m-1 border border-white rounded bg-secondary bg-opacity-25">
                        <div class="bg-primary m-1 py-3 rounded-3 mt-2 text-white"> Total interventions
                            {% set NbrInter = 0  %}
                            {% for inter in interventions %}
                            {% set NbrInter = NbrInter + 1 %}
                            {% endfor %}
                            {{ NbrInter }}  
                        </div>
                        <div class="bg-primary m-1 py-3 rounded-3 mt-2 text-white"> Interventions en cours
                            {% set NbrInter = 0  %}
                            {% for inter in interventionsEnCours %}
                            {% set NbrInter = NbrInter + 1 %}
                            {% endfor %}
                            {{ NbrInter }}  
                        </div>
                        <div class="bg-primary m-1 py-3 rounded-3 mt-2 text-white"> Interventions terminée
                            {% set NbrInter = 0  %}
                            {% for inter in interventionsTerminee %}
                            {% set NbrInter = NbrInter + 1 %}
                            {% endfor %}
                            {{ NbrInter }}  
                        </div>
                    </div>
                </div>    
            </div>
            <!-- Fin de la colonne de droite -->
        </div>
    </main>    
{% endblock %}

