{% extends "base.html.twig" %}
{% block title %} {{titrePage}} {% endblock %}

{% block body %}  
<main class="container-fluid">
    <div class="row">  
        {% include "partials/sidebar/sidebar.html.twig" %}
        <div class="col-lg-9 py-3 offset-lg-3">
            <nav aria-label="breadcrumb" class="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Tableau de Bord</a></li>
                  <li class="breadcrumb-item"><a href="javascript:history.back()">Client</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Nouvelle intervention</li>
                </ol>
            </nav>
            
            <!-- DEBUT section infos -->
            <div class="text-center p-2 rounded-2 mb-2 information_client" >
                {% include 'partials/info_dropdown.html.twig' %} 
            </div>
            <!-- FIN section infos -->
            
            <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
            <span class="ms-2">{{ titrePage }}</span>
            <div class="bg-white p-3 rounded-1 mt-2 mb-3">
              {% include "partials/form/interForm.html.twig" %}
            </div>
        </div>
    </div>
</main>        
{% endblock %} 