<div class="row pb-2">
    <div class="col-6">
        <span class="roboto-bold">Nom</span>
        <span>Dupont</span>
    </div>
    <div class="col-6">
        <span class="roboto-bold">Prénom</span>
        <span>Marc</span>
    </div>
</div>
<div class="formNewClient py-4 col-12 px-3 rounded-2 text-white">
    <span class="text-center text-white roboto-bold">Coordonnées</span>
    <i class="fa-solid fa-gear" data-bs-toggle="modal" data-bs-target="#modalModification"></i>
    <div class="row mt-3">
        <div class="col-6 text-start">
            <span class="roboto-bold">Téléphone</span><br>
            <a href="tel:+33612151558" class="text-white text-decoration-none ">
                06 12 15 15 58
            </a>
        </div>
        <div class="col-6 text-start">
            <span class="roboto-bold">E-Mail</span><br>
            <a href="mailto:contact@mail.fr" class="text-white text-decoration-none ">
                contact@mail.fr
            </a>
        </div>
        <hr class="border m-2 mx-auto">
        <div class="text-start">
            <span class="roboto-bold">Adresse</span><br>
            <a href="geo:12+rue+des+lilas+144460+colombelles" class="text-white text-decoration-none ">
                <address>
                        12 rue des lilas<br>
                        144460 Colombelles
                </address>
            </a>
        </div>

    </div>
</div>
    