 <div class="col-lg-3 py-3 sidebar position-fixed">
        <div class="bg-white text-center px-2 rounded-2 overflow-auto" style="height:90vh">
            <div class="my-3">
                <span class="text-center">{{ titreSideBar }}</span>
            </div>
            <div>
                {% if (titreSideBar == 'Nouveau client') %}
                    {% include "partials/form/clientForm.html.twig" %}
                    <div>
                        <iframe src="https://calendar.google.com/calendar/embed?src=ivann-elore%40hotmail.fr&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                {% else %} 
                    {% include "partials/sideBar/infoClient.html.twig" %}
                {% endif %}    
            </div>
        </div>
</div>