{% extends 'base.html.twig' %}

{% block title %}Ajout d'un client{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <!-- Début de la colonne de gauche -->
        {% include 'partials/sidebar/sidebar.html.twig' %}
        <!-- Fin de la colonne de gauche -->
        
        <!-- Début de la colonne de droite -->
        <div class="col-md-10 py-3 offset-md-2">
            <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
                 {% for messageSuccess in app.flashes('successClient') %}
                <div class="mb-3 text-center bg-success border border-success-subtle border-2 p-3 bg-opacity-50 rounded-3">
                  {{ messageSuccess }}
                  {% if messageSuccess %}
                    <script>
                        setTimeout(function() {
                            window.location.href = "{{ path('app_client', {'id': client.id}) }}";
                        }, 1000);
                    </script>
                {% endif %}
                </div>
                {% endfor %} 
                 {% for messageErreur in app.flashes('erreurAjout') %}
                <div class="mb-3 text-center bg-danger border border-danger-subtle border-2 p-3 bg-opacity-50 rounded-3">
                  {{ messageErreur }}
                </div>
              {% endfor %} 
            {% include 'partials/form/clientForm.html.twig' %}  

        </div>
    </div>            
</main>
{% include "partials/modal/modalFlash.html.twig" %}

{% endblock %}
