{% extends 'base.html.twig' %}

{% block title %}Détail client{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <!-- Début de la colonne de gauche -->
        {% include 'partials/sidebar/sidebar.html.twig' %}
        <!-- Fin de la colonne de gauche -->
        
        <!-- Début de la colonne de droite -->
        <div class="col-lg-9 py-3 offset-lg-3">
            <nav aria-label="breadcrumb" class="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Tableau de Bord</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Client</li>
                </ol>
            </nav>
             <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>

            <!-- DEBUT section infos -->
            <div class="text-center bg-white p-2 rounded-2 mb-2 information_client" >
               {% include 'partials/info_client.html.twig' %} 
            </div>
            <!-- FIN section infos -->
            <a href="/nouvelleIntervention">
                <div class="nouvelleIntervention text-center my-3 py-2 rounded-2">
                   <i class="fa-solid fa-plus"></i><br>
                    Nouvelle intervention
                </div>
            </a>    
             {% include 'partials/liste_inter.html.twig' %}

        </div>
    </div>            

</main>


{% endblock %}
