{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %} 
    <main class="container-fluid">
        <div class="row">
            <!-- Début de la colonne de gauche -->
            {% include "partials/sidebar/sidebar.html.twig" %} 
            <!-- Fin de la colonne de gauche -->
            
            <!-- Début de la colonne de droite -->
            <div class="col-md-10 py-3 offset-md-2">
                <h1 class="text-center">{{ titrePage }}</h1>
                    <div class="mt-3" id="showInterDiv">
                        {% include "partials/liste_client.html.twig" %} 
                    </div>
            </div>
            <!-- Fin de la colonne de droite -->
        </div>
    </main>    
{% endblock %}

